<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: main-head(create)">
</head>
<body>
<div th:replace="fragments/navbar :: mainNavbar"></div>
<h1>Create Recipe</h1>

<form th:action="@{/recipes/create}" method="post" th:object="${recipe}">
    <label>Title:
        <input id="title" th:field="*{title}"/>
    </label>
    <br/>

    <label>Description:
        <textarea id="description" th:field="*{description}" rows="6"></textarea>
    </label>
    <br/>

    <label>Prep Time:
        <input th:field="*{prepTime}" type="number" placeholder="Enter in minutes"/>
    </label>
    <br/>

    <label> Cook Time:
        <input th:field="*{cookTime}" type="number" placeholder="Enter in minutes"/>
    </label>
    <br/>

    <label>Servings:
        <input th:field="*{servings}" type="number"/>
    </label>
    <br/>

    <label>Instructions
        <input type="text" name="instructions_text"/>
    </label>
    <label>Instructions
        <input type="text" name="instructions_text"/>
    </label>
    <label>Instructions
        <input type="text" name="instructions_text"/>
    </label>
    <label>Ingredient
        <input type="text" name="ingredients"/>
    </label>
    <label>Quantity
        <input type="text" name="quantity"/>
    </label>
    <label>Ingredient
        <input type="text" name="ingredients"/>
    </label>
    <label>Quantity
        <input type="text" name="quantity"/>
    </label>
    <label>Ingredient
        <input type="text" name="ingredients"/>
    </label>
    <label>Quantity
        <input type="text" name="quantity"/>
    </label>
    <label>Make my recipe private?
        <input th:field="*{privateRecipe}" type="checkbox"/>
    </label>


    <input type="BUTTON" value="Upload Picture" id="uploadpicture" onclick="pickMark()"/>
    <img src="" id="url"/>
    <input type="hidden" name="image" id="imageInput"/>
    <input type="submit"/>

</form>

<footer th:include="fragments/footer :: footer"></footer>
<script src="https://static.filestackapi.com/v3/filestack.js"></script>
<div th:replace="fragments/scripts :: scripts"></div>
<script>
    //Instantiating dialog with Filestack
    //        var client = filestack.init("AZvuYvrkS2GRaOBsg61tvz");
    //        client.upload();

//    $(document).ready(function () {

        function pickMark() {
            console.log("Upload Picture");
            //Filestack API method 'pick()' that opens the file picker
//            client.pick({});

            const link = document.getElementById('url');

//        $('#uploadpicture').click();
            const client = filestack.init("AZvuYvrkS2GRaOBsg61tvz");
            client.pick({}).then(function (result) {
                const fileUrl = result.filesUploaded[0].url;
//                link.href = fileUrl;
//                link.innerHTML = fileUrl;
                console.log(fileUrl);
            $('#url').html('<img id="url" src="' + fileUrl + '"/>');
                $('#imageInput').val(fileUrl);
            });
        }
//    });
</script>
</body>
</html>
