<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: main-head(create)"></head>
<body>
<div th:replace="fragments/navbar :: mainNavbar"></div>
<main class="container">

    <fieldset>
        <legend class="center-text">Edit Your Recipe</legend>

        <form th:action="@{/recipes/edit}" method="post" th:object="${recipe}">
            <input th:field="*{id}" type="hidden"/>

            <div class="list-group row">

                <div class="form-group">
                    <div class="col-sm-12">
                        <label for="title">Title</label>
                        <input class="form-control" id="title" th:field="*{title}"/>
                    </div>
                </div>

                <!--*****-->
                <div class="form-group">
                    <div class="col-sm-12">
                        <label for="uploadpicture">Add An Image To This Recipe</label>
                        <div class="col-sm-2">
                            <button type="button" class="btn btn-outline-danger" id="uploadpicture"
                                    onclick="pickMark()">Upload Picture
                            </button>
                        </div>
                    </div>
                </div>


                <!--<input type="BUTTON" value="Upload Picture" id="uploadpicture" onclick="pickMark()"/>-->
                    <div id="imagePlaceholder">
                        <img th:src="${recipe.imageUrl}" alt="recipeimage"/>
                    </div>
                    <!-- This input carries the image url to the controller side -->
                    <input type="hidden" name="image" id="imageInput"/>
                <!--<input type="submit"/>-->
                <br/>

                <!--*****-->

                <div class="form-group">
                    <div class="col-sm-12">
                        <label for="description">Description</label>
                        <textarea class="form-control"
                                  id="description"
                                  th:field="*{description}"
                                  rows="6"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-12">
                        <div class="row">
                            <div class="col-md-4">
                                <label for="prepTime">Prep Time</label>
                                <input class="form-control"
                                       id="prepTime"
                                       th:field="*{prepTime}"
                                       type="number"/>

                            </div>
                            <div class="col-md-4">
                                <label for="cookTime">Cook Time</label>
                                <input class="form-control"
                                       id="cookTime"
                                       th:field="*{cookTime}"
                                       type="number"/>
                            </div>
                            <div class="col-md-4">
                                <label for="servings">Servings</label>
                                <input class="form-control"
                                       id="servings"
                                       th:field="*{servings}"
                                       type="number"/>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-12">
                    <div class="row" id="instructionList">

                        <div class="col-sm-10 offset-sm-2">
                            <label>Instructions</label>
                        </div>

                        <!-- Single instruction -->
                        <div class="col-sm-12 instructionItem"
                             id="instructId0"
                             th:each="instruction : ${recipe.instructions}">
                            <div class="row">
                                <div class="col-sm-2">
                                    <button type="button"
                                            class="btn btn-outline-danger btn-block rmvInstructButton"
                                            id="removeInstruct0">&#8998;
                                    </button>
                                </div>
                                <div class="col-sm-10">
                                    <input class="form-control"
                                           type="text"
                                           name="instructions_text"
                                           th:value="${instruction.instruction}"/>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-sm-3 offset-sm-3">
                            <button type="button" id="addInstruction" class="btn btn-outline-success btn-block">&#65291;Add
                            </button>
                        </div>
                    </div>
                </div>

                <div class="col-sm-12">
                    <div class="row" id="ingredientList">

                        <!-- Section Labels -->
                        <div class="col-sm-2"><label>Ingredients</label></div>
                        <div class="col-sm-2">
                            <label>Quantity</label>
                        </div>
                        <div class="col-sm-8">
                            <label>Item</label>
                        </div>


                        <!-- Single ingredient entry -->
                        <div class="col-sm-12 ingredientItem"
                             id="ingId0"
                             th:each="recipeIngredient : ${recipe.recipeIngredients}">
                            <div class="row">
                                <div class="col-sm-2">
                                    <button type="button"
                                            class="btn btn-outline-danger btn-block rmvIngButton"
                                            id="removeIng0">&#8998;
                                    </button>
                                </div>
                                <div class="col-sm-2">
                                    <input class="form-control"
                                           type="text"
                                           name="quantity"
                                           th:value="${recipeIngredient.quantity}"/>
                                </div>
                                <div class="col-sm-8">
                                    <input class="form-control"
                                           type="text"
                                           name="ingredients"
                                           th:value="${recipeIngredient.ingredient.ingredient}"/>
                                </div>
                            </div>
                        </div>
                        <!---->


                    </div>
                    <div class="row">
                        <div class="col-sm-3 offset-sm-3">
                            <button type="button" id="addIngredient" class="btn btn-outline-success btn-block">&#65291;Add
                            </button>
                        </div>
                    </div>
                </div>

                <label>Make my recipe private?
                    <input th:field="*{privateRecipe}" type="checkbox"/>
                </label>

                <button type="submit" class="btn btn-primary">Update Recipe</button>
            </div>
        </form>
    </fieldset>

    <fieldset id="deleteForm">
        <form th:action="@{/recipes/delete}" method="post" th:object="${recipe}">

            <div class="form-group row">
                <input type="hidden" th:field="*{id}"/>
                <div class="col-sm-4">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox"
                               class="custom-control-input"
                               id="deleteBox"
                               value="Delete"
                               th:object="${recipe}"/>
                        <label class="custom-control-label" for="deleteBox">Confirm Delete</label>
                    </div>
                </div>

                <div class="col-sm-2">
                    <button type="submit" class="btn btn-outline-danger" id="deleteButton" disabled="disabled">Delete</button>
                </div>
            </div>
        </form>
    </fieldset>
</main>
<footer th:include="fragments/footer :: footer"></footer>
<div th:replace="fragments/scripts :: scripts"></div>
<script>

    function pickMark() {
        // Filestack API method 'pick()' that opens the file picker
        const client = filestack.init("AZvuYvrkS2GRaOBsg61tvz");
        client.pick({
            fromSources:["local_file_system","imagesearch","facebook","instagram"],
            transformations:{
                crop:true}
        }).then(function (result) {
            const fileUrl = result.filesUploaded[0].url;

//            ***Removing Image***
//            const client = filestack.init("AZvuYvrkS2GRaOBsg61tvz");
//            client.remove(handle, options);

            // This gives the input the value of the image url.
            $('#imageInput').val(fileUrl);

            // This creates an img element for the user to see.
            $('#imagePlaceholder').empty();
            $('#imagePlaceholder').append('<img src="' + fileUrl + '" id="url" />');
        });
    }

</script>
</body>
</html>