<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: main-head(create)"></head>
<body>
    <div th:replace="fragments/navbar :: mainNavbar"></div>
    <h1>Edit Recipe</h1>

    <form action="/recipe/create" method="post" th:object="${recipe}">
        <label>Title:
            <input id="title" th:field="*{title}"/>
        </label>
        <br/>

        <label>Description:
            <textarea id="description" th:field="*{description}" rows="6"></textarea>
        </label>
        <br/>

        <label>Prep Time:
            <input th:field="*{prepTime}" type="number" placeholder="Enter in minutes"/>
        </label>
        <br/>

        <label> Cook Time:
            <input th:field="*{cookTime}" type="number" placeholder="Enter in minutes"/>
        </label>
        <br/>

        <label>Servings:
            <input th:field="*{servings}" type="number"/>
        </label>
        <br/>

        <div th:each="instruction : ${recipe.instructions}">
            <label> Instructions:
                <input type="text" th:value="${instruction.instruction}" name="instructions_text"/>
            </label>
        </div>

        <div th:each="recipeIngredient : ${recipe.recipeIngredients}">
            <label> Ingredients:
                <input type="text" th:value="${recipeIngredient.ingredient.ingredient}" name="quantity"/>
            </label>
            <label> Quantity:
                <input type="text" th:value="${recipeIngredient.quantity}" name="ingredients"/>
            </label>
        </div>
        
        <input type="button"/>Update
    </form>

    <footer th:include="fragments/footer :: footer"></footer>
    <div th:replace="fragments/scripts :: scripts"></div>
</body>
</html>