<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: main-head(showRecipe)"></head>
<body>
    <div th:replace="fragments/navbar :: mainNavbar"></div>
    <h1>This page shows individual recipe</h1>


    <h1 th:text="${recipe.title}"></h1>
    <h5>Description: </h5>
    <p th:text="${recipe.description}"></p>
    <h5>Cook Time: </h5>
    <p th:text="${recipe.cookTime}"></p>
    <h5>Prep Time: </h5>
    <p th:text="${recipe.prepTime}"></p>
    <h5>Servings: </h5>
    <p th:text="${recipe.servings}"></p>
    <p>Is Private<span th:object="${privateRecipe}"></span></p>

    <!--//loop over the instruction and ingredients (nested)-->
    <div th:each="instruction : ${recipe.instructions}">
        <p th:text="${instruction.instruction}"></p>
    </div>

    <div th:each="ingredient : ${recipe.recipeIngredients}">
        <p th:text="${ingredient.quantity}"></p>
        <p th:text="${ingredient.ingredient.ingredient}"></p>
    </div>

    <footer th:include="fragments/footer :: footer"></footer>
    <div th:replace="fragments/scripts :: scripts"></div>
</body>
</html>