<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head></head>
<body>

<footer th:fragment="footer" class="footer">
    <footer class="footer">
        <a id="aboutus" th:href="${'/about'}">About Us</a>
        <span class="text-muted">My Recipe Stockpile &copy; <span th:text="${#dates.year(#dates.createNow())}"></span>
        </span>
        <div class="google-translate">
            <div id="google_translate_element" class="google-translate"></div>
        </div>
    </footer>
</footer>

</body>
</html>