<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: main-head(@{'Create A New Stockpile - My Recipe Stockpile'})"></head>
<body>

<div th:replace="fragments/navbar :: mainNavbar"></div>

<div class="container" id="too-small">
    <div class="row">
        <h1 class="text-center col-12">Create a Stockpile</h1>
        <div class="col-12 col-sm-8 offset-2 col-md-6 offset-md-3 col-lg-4 offset-lg-4 card">
            <form th:action="@{/stockpile/create}" method="post" th:object="${stockpile}">
                <div class="row card-body">
                    <div class="col-12">

                        <div class="form-group">
                            <label for="title">Stockpile Name</label>
                            <input id="title" th:field="*{name}"/>
                        </div>
                    </div>
                    <div class="col-12">

                        <div class="form-group">
                            <label>Do you want this stockpile to be private (only visible to you)?
                                <input type="checkbox" th:field="*{privateStockpile}"/>
                            </label>
                        </div>
                    </div>
                    <div class="col-12">
                        <button type="submit" class="btn btn-primary" id="loginBtn">Save Stockpile</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<footer th:include="fragments/footer :: footer"></footer>
<div th:replace="fragments/scripts :: scripts"></div>

</body>
</html>