<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: main-head(@{'Edit Stockpile - My Recipe Stockpile'})"></head>
<body>

<div th:replace="fragments/navbar :: mainNavbar"></div>

<h1>Edit This Stockpile</h1>

<form th:action="@{/stockpile/edit}" method="post" th:object="${stockpile}">
    <input type="hidden" th:field="*{id}"/>
    <label>Name:
        <input id="title" th:field="*{name}"/>
    </label>
    <br/>

    <label>Do you want this stockpile to be private (only visible to you)?
        <input type="checkbox" th:field="*{privateStockpile}"/>
    </label>
    <br/>
    <input type="submit" value="Update"/>
</form>

<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <form method="post" th:action="@{/stockpile/{id}/delete(id=${stockpile.id})}">
            <input type="submit" class="btn btn-block btn-danger" id="delete-stockpile" value="Delete This Stockpile" />
        </form>
    </div>
</div>

</body>
</html>