<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="fragments/head :: main-head(${stockpile.name} + @{' Stockpile - My Recipe Stockpile'})"></head>
<body>

<div th:replace="fragments/navbar :: mainNavbar"></div>

<div class="container" id="too-small">

    <div class="row">
        <div class="text-center col-12">
            <h1 th:text="${stockpile.name}"></h1>
            <h4>Owner: <a th:href="@{'/profile/'} + ${stockpile.owner.username}"
                          th:text="${stockpile.owner.username}"></a></h4>
            <a th:href="${'/stockpile/'} + ${id} + ${'/edit'}">Edit This Stockpile</a>

        </div>
        <div sec:authorize="isAuthenticated()">
            <div th:data="${#authentication.principal.id}" id="userIdInfo"></div>
        </div>

        <div th:replace="fragments/recipe-cards :: cards"></div>

    </div>

</div>

<footer th:include="fragments/footer :: footer"></footer>
<div th:replace="fragments/scripts :: scripts"></div>

</body>
</html>