<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: main-head(All-Recipes)"></head>
<body>

<div th:replace="fragments/navbar :: mainNavbar"></div>

<h1>This is our index page</h1>

<div th:each="recipe : ${recipes}">
    <h1 th:text="${recipe.title}"></h1>
    <p th:text="${recipe.description}"></p>
    <p th:text="${recipe.user.username}"></p>
</div>

<footer th:include="fragments/footer :: footer"></footer>
<div th:replace="fragments/scripts :: scripts"></div>

</body>
</html>