<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: main-head(Login)"></head>
<body>

<div th:replace="fragments/navbar :: mainNavbar"></div>

<div class="container">


    <div th:if="${param.error}">
        Invalid Username and Password.
    </div>

    <div th:if="${param.logout}">
        You have been logged out.
    </div>

    <div class="row">
    <h1 class="text-center col-12">Please Log In</h1>
        <div class="col-12 col-sm-8 offset-2 col-md-6 offset-md-3 col-lg-4 offset-lg-4 card">
            <form th:action="@{/login}" method="post">
                <div class="row card-body">
                    <div class="col-12">

                        <div class="form-group">

                            <label for="username">Username</label>
                            <input type="text" class="form-control" id="username" name="username"/>
                        </div>
                    </div>
                    <div class="col-12">

                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" class="form-control" id="password" name="password"/>
                        </div>
                    </div>
                    <div class="col-12">
                        <button type="submit" class="btn btn-primary" id="loginBtn">Login</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-12 col-sm-8 offset-2 col-md-6 offset-md-3 col-lg-4 offset-lg-4 card">
            <div class="card-body">
            <h4 class="text-center">Not A Member?</h4>
                <p class="createAccount"><a href="/sign-up" class="text-center">Create an account.</a></p>
            </div>
        </div>
    </div>

</div>

<footer th:include="fragments/footer :: footer"></footer>
<div th:replace="fragments/scripts :: scripts"></div>
</body>
</html>