<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="fragments/head :: main-head(Profile)"></head>
<body>

<div th:replace="fragments/navbar :: mainNavbar"></div>

<div class="container">

    <div class="row">
        <div class="col-sm-12">
            <h1 class="text-center"><span th:text="${user.username}"></span>'s Profile</h1>
        </div>
        <div sec:authorize="isAuthenticated()" class="col-sm-12">
            <div th:if="${#authentication.principal.id} == ${user.id}">
                <p class="text-center">Welcome To Your Profile Page</p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 col-xl-3" th:each="recipe : ${recipes}">
        <div class="card">
            <a th:href="@{'/recipes/show/'} + ${recipe.id}">
                <img class="card-img-top" th:src="${recipe.imageUrl}" alt="Recipe Picture"/>
            </a>
            <div class="card-block">
                <a th:href="@{'/recipes/show/'} + ${recipe.id}">
                    <h4 class="card-title text-center" th:text="${recipe.title}"></h4>
                </a>
                <p class="card-text" th:text="${recipe.description}"></p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item text-center">
                    <span>Prep: <span th:text="${recipe.prepTime}"></span> min.&nbsp;&nbsp;</span>&#8212;&nbsp;
                    <span>Cook: <span th:text="${recipe.cookTime}"></span> min.</span>
                </li>
            </ul>
            <div class="card-footer text-muted">By:
                <a th:href="@{'/profile/'} + ${recipe.user.username}"><span th:text="${recipe.user.username}"></span></a>
            </div>
            <!--<div class="card-block">-->
            <!--<a href="#" class="card-link">Card link</a>-->
            <!--<a href="#" class="card-link">Another link</a>-->
            <!--</div>-->
        </div>
    </div>
</div>


<!-- Make a recently added Recipe section -->
<h2>Here are their most recent recipes:</h2>
<div th:each="recipe : ${recipes}">
    <a th:href="@{'/recipes/show/'} + ${recipe.id}"><h3 th:text="${recipe.title}"></h3></a>
    <img th:src="${recipe.imageUrl}" alt="Recipe Picture"/>
    <p th:text="${recipe.description}"></p>
    <p th:text="${recipe.user.username}"></p>
</div>

<h4>Stockpiles offer a way to organize your recipes</h4>
<div sec:authorize="isAuthenticated()">
    <div th:if="${#authentication.principal.id} == ${user.id}">
        <h3><a th:href="@{'/stockpile/new'}">New Stockpile</a></h3>
    </div>
</div>
<hr/>

<h2>here you will see you list of stockpile</h2>

<div>
    <h3>Stockpile: <a th:href="@{'/stockpile/allMyRecipes/'} + ${user.username}">All My Recipes</a></h3>
</div>

<div>
    <h3>Stockpile: <a th:href="@{'/stockpile/allMyHeartedRecipes/'} + ${user.username}">Hearted Recipes</a></h3>
</div>

<div th:each="stockpile : ${user.stockpiles}">
    <hr/>
    <h3>Stockpile: <a th:href="@{'/stockpile/'} + ${stockpile.id}"><span th:text="${stockpile.name}"></span></a>
    </h3>

</div>

</div>


<footer th:include="fragments/footer :: footer"></footer>
<div th:replace="fragments/scripts :: scripts"></div>

</body>
</html>