<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: main-head(Profile)"></head>
<body>

<div th:replace="fragments/navbar :: mainNavbar"></div>

<h1>Hello, <span th:text="${user.username}"></span>. This your profile page</h1>

<!-- Make a recently added Recipe section -->

<h4>Stockpiles offer a way to organize your recipes</h4>
<div><h3><a href="/stockpile/new">New Stockpile</a></h3></div>
<hr/>
<h2>here you will see you list of stockpile</h2>


<div th:each="stockpile : ${user.stockpiles}">
    <hr/>
    <h3>Stockpile: <a th:href="@{'/stockpile/'} + ${stockpile.id}"><span th:text="${stockpile.name}"></span></a></h3>

</div>

<footer th:include="fragments/footer :: footer"></footer>
<div th:replace="fragments/scripts :: scripts"></div>

</body>
</html>