<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="fragments/head :: main-head(${user.username} + @{'\'s Profile - My Recipe Stockpile'})"></head>
<body>

<div th:replace="fragments/navbar :: mainNavbar"></div>

<div class="container mobile-container">

    <div class="row">
        <div class="col-sm-12">
            <h1 class="text-center profileHead"><span th:text="${user.username}"></span>'s Profile</h1>
        </div>
        <div sec:authorize="isAuthenticated()" class="col-sm-12">
            <div th:if="${#authentication.principal.id} == ${user.id}">
                <p class="text-center">Welcome To Your Profile Page</p>
            </div>
        </div>
    </div>

    <div class="row">
        <h3 class="text-center col-12">Most Recent Recipes</h3>
        <div th:data="${#authentication.principal.id}" id="userIdInfo"></div>

        <div th:replace="fragments/recipe-cards :: cards"></div>


    </div>
    <hr/>

    <!-- stockpile section -->
    <div class="row">
        <div class="col-md-8 offset-md-2 col-lg-6 offset-lg-3">
            <h1 class="text-center"><span th:text="${user.username}"></span>'s</h1>
            <h3 class="text-center stockpile-heading">Recipe Stockpiles</h3>
            <div th:if="${#authentication.principal.id} == ${user.id}">
                <p class="text-center">Stockpiles are a great way to organize recipes.<br/>Create a new Stockpile. Find
                                       a recipe. Save it to that Stockpile.<br/>Visit that Stockpile to see the whole
                                       collection.</p>
            </div>
            <ul class="list-group">
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <a th:href="@{'/stockpile/allMyRecipes/'} + ${user.username}">All My Recipes</a>
                    <span class="badge badge-primary badge-pill" th:text="${#lists.size(user.recipes)}">14</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <a th:href="@{'/stockpile/allMyHeartedRecipes/'} + ${user.username}">Hearted Recipes</a>
                    <span class="badge badge-primary badge-pill" th:text="${#lists.size(user.heartedRecipes)}"></span>
                </li>
                <!--<div th:if="!${#lists.isEmpty(user.stockpiles)}">-->
                <div th:if="!${#lists.isEmpty(user.stockpiles)}"
                     th:each="stockpile : ${user.stockpiles}">
                    <li th:if="${#authentication.principal.id} == ${user.id}"
                        class="list-group-item d-flex justify-content-between align-items-center">
                        <a th:href="@{'/stockpile/'} + ${stockpile.id}"><span th:text="${stockpile.name}"></span></a>
                        <span class="badge badge-primary badge-pill"
                              th:text="${#lists.size(stockpile.stockpileRecipes)}"></span>
                    </li>
                    <li th:if="!${#authentication.principal.id} == ${user.id}"
                        class="list-group-item d-flex justify-content-between align-items-center">
                        <div th:if="!${stockpile.privateStockpile}">
                            <a th:href="@{'/stockpile/'} + ${stockpile.id}"><span th:text="${stockpile.name}"></span></a>
                            <span class="badge badge-primary badge-pill"
                                  th:text="${#lists.size(stockpile.stockpileRecipes)}"></span>
                        </div>
                    </li>
                </div>
                <!--</div>-->
                <div th:if="${#authentication.principal.id} == ${user.id}">
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <div class="createStockpileBtn1Holder">
                            <a th:href="@{'/stockpile/new'}">
                                <button type="button" class="btn btn-outline-primary createStockpileBtn1">
                                    New Stockpile
                                </button>
                            </a>
                        </div>
                    </li>
                </div>
            </ul>

            <form th:action="@{'/heart-update'}" method="post"></form>

        </div>
    </div>
</div>
<footer th:include="fragments/footer :: footer"></footer>
<div th:replace="fragments/scripts :: scripts"></div>

</body>
</html>