<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: main-head(@{'Sign Up - My Recipe Stockpile'})"></head>
<body>

<div th:replace="fragments/navbar :: mainNavbar"></div>

<div class="container" id="too-small">

    <h1 class="text-center col-12" id="register">Sign Up!</h1>
    <div class="col-12 col-sm-8 offset-2 col-md-6 offset-md-3 col-lg-4 offset-lg-4 card mobile-register-login-and-stockpile-form">
        <form th:action="@{/sign-up}" method="POST" th:object="${user}">
            <div class="row card-body">
                <div class="col-12">
                    <div class="form-group">
                        <label for="username">Username</label>
                        <input type="text" class="form-control" id="username" th:field="*{username}"/>
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-group">
                        <label for="email">E-mail</label>
                        <input type="text" class="form-control" id="email" th:field="*{email}"/>
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" id="password" th:field="*{password}"/>
                    </div>
                </div>
                <div class="col-12">
                    <button type="submit" class="btn btn-primary" id="loginBtn">Sign Me Up!</button>
                </div>
            </div>
        </form>
    </div>
    <div class="col-12 col-sm-8 offset-2 col-md-6 offset-md-3 col-lg-4 offset-lg-4 card mobile-register-login-and-stockpile-form">
        <div class="card-body">
            <h4 class="text-center">Already A Member?</h4>
            <p class="createAccount"><a href="/login" class="text-center">Go login.</a></p>
        </div>
    </div>
</div>
  
    <footer th:include="fragments/footer :: footer"></footer>
    <div th:replace="fragments/scripts :: scripts"></div>

</body>
</html>
